*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    top: 0;
    font-family: 'Montserrat', sans-serif;
}

body{
    /* overflow: hidden; */
    background: linear-gradient(to right, #ff0000, #000000);
}

h2{
    font-size: 24px;
    font-weight: 800;
}

h3{
    font-size: 20px;
    font-weight: 800;
    color: #ffc107;
}

p{
    font-weight: 400;
}



/* section one */



section{
    padding: 7vh 35%;
    height: 100vh;

}

.my-image img{
    width: 20vw;
    height: auto;
    margin: 10px;
    /* border: 3px solid #ffc107; */
}
.blocks{
text-align: left;
background-color: #fff;
padding: 30px;
}

.fm{
    margin-bottom: 10px;
}

.fa-regular,
.fa-brands{
margin-right: 10px;
}
/* .btn{
    width: 15vw;
    transition: 0.5s;
    font-weight: 600;
    font-size: 20px;
    margin: 0 5px 10px 0;
} */





/* Mobile */
@media (max-width:520px) {

    section{
        padding: 7vh 10%;
      height: 100vh;

    }
    
     h2{
        font-size: 22px;
        font-weight: 800;    
    }
    h4{
        font-size: 16px;
        font-weight: 500;
    }

    
    /* section one */
    .my-image img{
        width: 60vw;
        height: auto;
    }

    .fa-regular,
    .fa-brands{
    margin-right: 10px;
    }
        /* .btn{
            width: 100%;
            transition: 0.5s;
            font-weight: 600;
            font-size: 20px;
            margin-bottom: 10px;
        } */

}